#bar-graph{
  position: relative;
  width:500px;
  height:500px;
  border:1px solid black;
  padding:10px;
}

.bar{
	position: absolute;
	width:50;
	display: inline-block;
	float: left;
	bottom: 50;
	
}

.barName{
	position: absolute;
	width:50;
	display: inline-block;
	float: left;
	bottom: 0;
}
