
#graph{
  position: relative;
  width:500px;
  height:500px;

}

#bar-graph{
  position: absolute; 
}

#graph-labels{
	position: absolute;
}
.bar{
	position: absolute;	
	display: inline-block;
	float: left;
}

.barName{
	position: absolute;
	display: inline-block;		
	text-align: center;
	
}

.barValue{	
	position: absolute;
	display: inline-block;		
	text-align: center;
}

#bottomLine{
	position: absolute;
}
#topLine{
    position: absolute;
}
.valueLine{
	position: absolute;
	
}

#verticalLine{
	position:absolute;
}

