#bar-graph{
  position: relative;
  width:600px;
  height:600px;
  
  padding:30;
}

.bar{
	position: absolute;
	width:75;
	display: inline-block;
	float: left;
	bottom: 50;
	
	
}

.barName{
	position: absolute;
	width:50;
	display: inline-block;
	bottom: 0;
	text-align: right;
}

.barValue{
	
	position: absolute;
	display: inline-block;		
	text-align: center;
}

#bottomLine{
	position: absolute;

	
}

.valueLine{
	position: absolute;
}

#verticalLine{
	position:absolute;
	width: 0px; 
    
    float: left; 
    border: 1px inset;	
	

}

